h3{
    font-size: 30px !important;
}

.btn-success:hover{
    background-color: rgb(152, 191, 224);
}

canvas{
    animation-name: colour;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes colour{
    from{box-shadow: 1px 1px 40px rgb(148, 196, 238);}
    to{box-shadow: 1px 1px 40px rgb(198, 161, 223);}
}